VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a454ec900060f12e3ec
VITE_APPWRITE_FUNCTION_ID=anasiya-api
VITE_APPWRITE_DATABASE_ID=anasiya_custom_order
VITE_APPWRITE_BUCKET_ID=catalog-images
